<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->
<!-- $Id: log4j.xml,v 1.3 2011/09/21 09:41:16 jiayu.qiu Exp $ -->
<!-- | For more configuration infromation and examples see the Jakarta Log4j | owebsite: http://jakarta.apache.org/log4j -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->
  <!-- A time/date based rolling appender -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-5p] %d{MM-dd HH:mm:ss,SSS} [%c] %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>

  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
    <param name="File" value="D:/dev/logs/cache_test.log" />
    <param name="Append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="Threshold" value="ERROR" />
    <param name="MaxFileSize" value="500KB" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-5p] &lt;%d{yyyy-MM-dd HH:mm:ss,SSS}&gt; [%c] %m%n" />
    </layout>
  </appender>

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->
  <root>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE" />
    <appender-ref ref="mybatis" />
  </root>
    <!-- mybatis log -->
  <appender name="mybatis" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="DEBUG" />
    </filter>
  </appender>
  <logger name="org.apache.ibatis" additivity="true">
    <level value="ERROR" />
  </logger>
  <logger name="java.sql.Connection" additivity="true">
    <level value="DEBUG" />
  </logger>
  <logger name="java.sql.Statement" additivity="true">
    <level value="DEBUG" />
  </logger>
  <logger name="java.sql.PreparedStatement" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="mybatis" />
  </logger>
  <logger name="java.sql.ResultSet" additivity="true">
    <level value="DEBUG" />
    <appender-ref ref="mybatis" />
  </logger>
</log4j:configuration>
